*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --text-primary: #f1f5f9;
  --text-secondary: #cbd5e1;
  --brand-color-400: #60a5fa;
  --brand-color-700: #1d4ed8;

  --ff-sans: 'Archivo', system-ui, sans-serif;

  --fs-base: 0.875rem;
  --fs-lg: 1rem;
  --fs-xlg: 1.5rem;

  --lh-xsm: 1.35;
  --lh-sm: 1.4;
  --lh-md: 1.45;
  --lh-base: 1.6;

  --fw-base: 400;
  --fw-span: 600;
  --fw-heading: 900;
}

html {
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  font-weight: var(--fw-base);
  color: var(--text-primary);
}

body {
  background-color: var(--bg-color);
}

.container {
  max-width: 1280px;
  padding: 0 2rem;
}

.divider {
  border: 1px solid var(--stroke-color);
}

.span {
  line-height: var(--lh-md);
  font-weight: var(--fw-span);
  color: var(--text-secondary);
}

.heading {
  font-weight: var(--fw-heading);
}

h3,
h2 {
  line-height: var(--lh-sm);
}

h1 {
  font-size: var(--fs-xlg);
  line-height: var(--lh-xsm);
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.svg {
  height: 20px;
	width: 20px;
	background-color: var(--text-primary);
}

a {
  text-decoration: none;
  color: inherit;

  cursor: pointer;
}

ul[role='list'] {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
