#topbar {
  & #logo {
    font-size: var(--fs-xlg);
    font-weight: var(--fw-heading);
    line-height: 0;
    text-transform: uppercase;
    color: var(--brand-color-400);
  }

  & .icon {
    color: var(--text-primary);
    font-weight: 700;
  }

  & .icon:hover {
    color: var(--brand-color-400);
  }

  & .icon:first-child .svg {
    mask-image: url('../assets/icons/List.svg');
    mask-repeat: no-repeat;
  }

  & .icon:last-child .svg {
    mask-image: url('../assets/icons/MagnifyingGlass.svg');
    mask-repeat: no-repeat;
  }

  & .icon:hover .svg {
    background-color: var(--brand-color-400);
  }
}

#tagbar {
  & a:hover {
    color: var(--brand-color-400);
  }
}
