.container {
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.content-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.mw-auto {
  margin-left: auto;
  margin-right: auto;
}

.mh-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mh-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.divider {
  border: 1px solid var(--stroke-color);
}

.span {
  line-height: var(--lh-md);
  font-weight: var(--fw-span);
  color: var(--text-secondary);
}

.heading {
  font-weight: var(--fw-heading);
}

.svg {
  height: 20px;
  width: 20px;
  background-color: var(--text-primary);
}

.content-tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--brand-color-700);

  font-size: 0.625rem;
  text-transform: uppercase;
  color: var(--text-primary);
  letter-spacing: 0.04em;
  line-height: 1;

  height: 1.25rem;
}
